* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner {
    width: 500px;
}

.inner img {
    width: 100%;
}

.button {
    display: flex;
}

.button img {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}